{
    // copy this file to launch.json
    "version": "0.2.0",
    "configurations": [
        {
            "type": "node",
            "request": "launch",
            "name": "Launch Program",
            "skipFiles": [
                "<node_internals>/**"
            ],
            "program": "${workspaceFolder}/build/main.js",
            "env": {
                "FREEATHOME_BASE_URL": "http://192.168.2.1",
                "FREEATHOME_API_USERNAME": "installer",
                "FREEATHOME_API_PASSWORD": "12345"
            },
            "outFiles": [
                "${workspaceFolder}/**/*.js"
            ],
            "preLaunchTask": "npm: build"
        }
    ]
}